<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ManagmentApplication.Properties.Settings.EsZamanliSiparisYonetimiConnectionString"
            connectionString="Data Source=DESKTOP-N511VU1\SQLEXPRESS;Initial Catalog=EsZamanliSiparisYonetimi;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>